img {
    width: 80%;
    height: 250px;
    margin-bottom: 20px;
    margin-top: 20px;
}
button{
    width: 6em;
    margin-top: 10px;
    margin-left: 46%;
    margin-right: 50%;
}
ul {
    list-style: none;
}


